# PostgreSQL
POSTGRES_USER=guimba
POSTGRES_PASSWORD=guimba_secret
POSTGRES_DB=guimba_db
POSTGRES_PORT=5432
POSTGRES_HOST=localhost
POSTGRES_DSN=postgres://guimba:guimba_secret@localhost:5432/guimba_db?sslmode=disable

# MongoDB
MONGO_USER=guimba
MONGO_PASSWORD=guimba_secret
MONGO_DB=guimba_db
MONGO_PORT=27017
MONGO_HOST=localhost
MONGO_URI=mongodb://guimba:guimba_secret@localhost:27017/guimba_db?authSource=admin

# Redis
REDIS_PASSWORD=guimba_secret
REDIS_PORT=6380
REDIS_HOST=localhost
REDIS_ADDR=localhost:6380

# Application
APP_PORT=8080
APP_ENV=development
FRONTEND_PORT=3000
JWT_SECRET=change-me-in-production
LOG_LEVEL=debug
